.select {
  //.select__disable{}
  &__disable{
    padding: 0;
    // visibility: hidden;
    opacity: .2;
    transition: opacity .05s ease;

    & + div{
      // visibility: hidden;
      opacity: .2;
    }
  }
  //.select__container{}
  &__container {
    display: flex;
    width: max-content;
    padding: 3px;
    position: relative;
    width: 100%;
    flex-direction: column;
    &>:nth-child(3){
      // top: 18px;
    }
    &>:nth-child(4){
      top: 22px;
    }
  }
  //.select__feedback{}
  &__feedback{
    padding: 0;
    ~div{
      top: 30px; 
    }
  }
  //.select__drop-down{}
  &__drop-down{
    padding: 0;
  }
  //.select__label{}
  &__label{
    font-size: 13px;
    // color: $dg2;
    // @extend %font;
    margin: 0 0 3px 10px;
  }
  //.select__body{}
  &__body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    // color: $dg2;
    border: 1px solid #787878;
    border-radius: 3px;
    min-width: 200px;
    min-height: 40px;
    z-index: 99;
    pointer-events: all;
    width: 100%;
    background-color: var(--bgc-white);
    box-shadow: 0px 8px 16px 2px rgba(97, 97, 97, 0.1), 0px 16px 32px 2px rgba(97, 97, 97, 0.1);
    transition: visibility .3s ease-in-out .2s;
    
    &>:nth-child(1){
      margin-left: 15px;
      pointer-events: none;
      padding: 6px 0px 6px 6px;
    }

    &>:nth-child(2){
      pointer-events: none;
      padding: 6px 0px 6px 6px;
    }

    &:hover{
      border: 1px solid;
      cursor: pointer;
    }
    &--active{
      border: 1px solid;
      // box-shadow: inset 0px 0px 2px 1px $pi;
      &:hover{
        // border: 1px solid $pi2;
      } 
    }
  }

  //.select__icon{}
  &__icon {
    pointer-events: none;
    transform: rotate(0);
    transition-duration: .5s;
    position: absolute;
    right: 10px;
    top: 50%;
    //.select__icon--active{}
    &--active{
    transition-duration: .5s;
    // transform: translate(-10px,12px);
    transform: rotate(180deg);
    }
  }
  
  //.select__option-container{}
  &__option-container {
      // display: none;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition-duration: .5s;
      & > span {
        opacity: 0;
        visibility: hidden;
        display: none;
      }
    //.select__option-container--active{}
    &--active {
      transition-duration: .5s;
      visibility: visible;
      opacity: 1;
      color: #000;
      width: 100%;
      height: max-content;
      position: absolute;
      top: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #fff;
      z-index: 9999;
      left: 0;
      border: 1px solid #dbd9d9;
      box-shadow: inset 0px 0px 4px 3px #dbd9d9;
      min-width: 200px;
      min-width: 200px;
      max-height: 300px;
      overflow: auto;
      display: grid;
      // @include scrollbar;
      & > span {
        opacity: 1;
        visibility: visible;
        display: flex;
      }
    }
  }
  //.select__dropdown-list-car{}
  &__dropdown-list-car{
    width: calc(100% - 30px);
    margin: 0 15px;    
    border-radius: 8px;
    &+div{
      // visibility: hidden;
      position: absolute;
      right: 25px;
      top: 15px;
      z-index: 100;
    }
  }
  //.select__option-item{}
  &__option-item{
    padding: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 80%);
    box-shadow: 0px 12px 24px 6px rgb(97 97 97 / 8%), 0px 24px 48px 6px rgb(97 97 97 / 8%);
    border-radius: 6px;
    margin: 0 10px 6px;
    &>div{
      margin-right: 15px !important;
    }
  }
}

