.detali-info{
    //.detali-info__container
    &__container{
        background-color: #fff;
        font-family: Univia Pro;
        font-size: 18px;
        font-weight: 900;
        height: 100vh;
        margin-top: -15px;
        padding: 20px;
        display: block;
        position: relative;
        width: 100%;
        white-space: break-spaces;
    }
}