
.textarea{
    //.textarea__container{}
    &__container{
        padding: 0;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        // box-shadow: -16px -16px 32px rgba(222, 226, 242, 0.2), 16px 16px 32px rgba(222, 226, 242, 0.3);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        position: relative;
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    //.textarea__label{}
    &__label{
        padding: 0;
        position: absolute;
        top: -15px;
        font-size: 13px;
        left: 10px;
        color: #000000;
    }
    //.textarea__textarea{}
    &__textarea{
        padding: 11px;        
        position: relative;
        font-size: 14px;
        width: 100%;
        letter-spacing: 1.1px;
        line-height: 140%;
        &::placeholder{
            color: #787878;
            font-size: 16px;
            letter-spacing: 1.1px;
            line-height: 140%;
        }
    }
    //.textarea__help-text{}
    &__help-text{
        padding: 0;
        position: absolute;
        top: 91%;
        right: 16px;
        background: #fff;
        color: rgb(243, 1, 1);
    }
    //.textarea-application{}
    &-application{
        border-radius: 8px;
        overflow: hidden;
    }

}

.feedback__textarea{
    height: 88px;
}
